ldap3
Flask
Flask-Login
Flask-Bcrypt
Flask-WTF
Flask-Paginate>=0.5.1
Flask-Assets
Flask-SQLAlchemy
Flask-KVSession
Flask-uWSGI-WebSocket
flask-ldap3-login
cryptography
uwsgi
natsort
passwordmeter
pysmb
Babel
docker
